/* 
    Document   : fournisseur
    Created on : 17 mai 2012, 15:11:34
    Author     : Lavie
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}
#frn {
    margin: 0px;
    padding: 8px 10px 20px 15px;
    background-color: rgba(248, 245, 240, 0.9);
    width: 700px;
    height: auto;
    border: 1px solid #ccc;
    border-top: 0px;
}
.divAddFrn {
    width:50px;
    position:absolute;
    z-index:20000;
    top:89px;
    right:24px;
    margin:0 auto;
    margin-top:5px;
    cursor:pointer;
}
#tabfrn {
    clear:both;
    max-width:720px;
    margin: 0 auto;
    margin-top:5px;
    padding: 20px;
    border:1px solid #333;
    background-color: rgba(248, 245, 240, 0.9);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    text-align:center;
}
#tabfrn th {
    border:1px solid black;
    padding:10px;
    font-size:13px;
}
#tabfrn td {
    border:1px solid black;
    padding: 5px;
}
.left {
    clear:both;
    float:left;
    width:50%;
}
.right {
    float:left;
    width:50%;
}
#formAddFrn fieldset{
    border: 1px solid gray ;
    padding:10px;
    margin:10px;
    font-size : 14px;
    width:90%;
}
#formAddFrn legend p {
    font-family:Verdana;
    font-size:14px;
    font-weight: bold;
}
#formAddFrn label {
    font-size: 14px;
    text-align : left;
    margin-left: 22%;
    padding-bottom:5px;
}
#formAddFrn p {
    font-size:16px;
}
#frmInter fieldset{
    border: 1px solid gray ;
    padding:10px;
    margin:10px;
    font-size : 14px;
    width:90%;
}
#frmInter legend p {
    font-family:Verdana;
    font-size:14px;
    font-weight: bold;
}
#frmInter label {
    font-size: 14px;
    text-align : left;
    margin-left: 22%;
    padding-bottom:5px;
}
#frmInter p {
    font-size:16px;
}
#frmUpdtFrn fieldset{
    border: 1px solid gray ;
    padding:10px;
    margin:10px;
    font-size : 14px;
    width:90%;
}
#frmUpdtFrn legend p {
    font-family:Verdana;
    font-size:14px;
    font-weight: bold;
}
#frmUpdtFrn label {
    font-size: 14px;
    text-align : left;
    margin-left: 22%;
    padding-bottom:5px;
}
#frmUpdtFrn p {
    font-size:16px;
}