html 
{
    background-image: url('../images/noise.png');
    color:#333;
    background-color: rgba(126, 172, 179, 0.57);
    padding-top: 20px;
    font-family: arial;
/*    height: 100%;*/
    width:100%;
    height: 750px;
}
#contentLogin input[type="submit"]#auth_form_submit {
    margin: 35px 0px 0px 125px;
}

#main 
{
    position:relative;
    overflow: auto;
    border: #101010 2px solid;
    background-image: url('../images/noise.png');
    background-color: rgba(248, 245, 240, 0.65);
    width : 1082px;
    margin : 0 auto;
    min-height : 700px;
}
#clientBox
{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-top : 20px;
    margin-left: 20px; 
    overflow: hidden;  
    padding: 20px;
    border: 1px solid #333;
    background-color: rgba(248, 245, 240, 0.9);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    float : left;
}
#commandClient
{
    float :left;
    width : 730px;
    min-height: 620px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left : 20px;
    padding: 20px;
    border: 1px solid #333;
    background-color: rgba(248, 245, 240, 0.9);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}
#commandClient #statusBar {
    width: 210px;
    height: 30px;
    border: 1px solid #0398CA;
    position: relative;
}
#commandClient #statusBar div span{
    position: absolute;
    left: 40%;
    top: 5px;
    color: #333;
}
#commandClient #statusBar div {
    background-color: #0398CA;
    height: 100%;
}
#clientBox p {
    margin-bottom: 10px;
}
.command p {
margin-bottom: 10px;
}
.command
{
    margin : 10px auto 0 auto;
    margin-bottom:10px;
    width :680px;    
    display: none;         
    background-color: #DDD;
    padding: 20px;
    height:370px;
}
#commandClient .cmd_click {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    margin-left: 10px;
}
#commandClient h6 {
    font-size: 16px;
    margin-bottom: 10px;
    color: #333;
}
#commentaire
{
    text-align:center;
    margin-left : 10px;
    padding-top:5px;
    display:none;
    width : 720px;
    height: 120px;
}
#commentaire p {
   font-size:15px;
}
#commentaire textArea {
    width:500px;
    margin-top:10px;
    margin-bottom:10px;
}
#deconnexion{
    color: #999;
    border: 1px solid #999;
    border-radius:5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
/*Partie pour le login du client*/
#contentLogin {
    margin-left: auto;
    margin-right: auto;
/*    float:left;*/
    width:385px;
    height: 300px;
    background-color: #DDD;
/*    margin: 0 auto 0 auto;*/
    border: 5px solid #FFFFFF;
    margin-top : 150px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    padding: 10px;
}


#contentLogin p{
    margin: 20px 0px 10px 0px;
    font-size: 14px;
}
#auth_form{
    float : left;
}
#contentLogin p span{
    display:block;
    font-size: 11px;
    margin-top:5px;    
}
#contentLogin input[type='text'],input[type=password] {
    height: 20px;
    width: 250px;
    float : left;
}
#contentLogin input[type='submit'] {
    height: 30px;
    width: 120px;
    color: #999;
    border: 1px solid #999;
    border-radius:5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin-left: 154px;
}
#contentLogin input[type='submit']:hover {
    color: #333;
    border: 1px solid #333;
}
#contentLogin label {
    float: left;
    margin: 3px 10px 0px 0px;
    width: 110px;
    height: 30px;
}
#contentLogin #login_form-element {
    margin-bottom: 10px;
}
#result {
    width:740px;
    height:570px;
    overflow: hidden;  
}
#ulcom {
    width:675px;
    height:150px;
    border:2px groove black; 
}
#pagination {
    height:20px;
    margin-top:10px;
}
#pagination li {
    float:left;
    margin-right:10px;
    cursor:pointer;
}



#satisfaction #commandClient h2 {
    font-weight: bold;
    font-style: italic;
    margin-bottom: 20px;
}
#satisfaction #commandClient p {
    font-size: 14px;
    text-align: justify;
    padding: 10px 0;
}
#satisfaction form {
    width: 500px;
    margin: 20px 75px;
    float: left;
}
#satisfaction form label {
    font-weight: bold;
    clear: both;
    margin-top: 20px;
    float: left;
}
#satisfaction form small{
    font-weight: normal;
    font-style: italic;
    font-size: 11px;
    float:left;
    margin-top: 20px;
}
#satisfaction form input{
    float: left;
    margin: 10px 45px;
}
#satisfaction form span{
    float: left;
    margin: 10px 0px;
}
#satisfaction form textarea {
    float: left;
    margin: 10px 0;
    width: 475px;
    height:100px;
}
#satisfaction #graph {
    width: 40px;
    height: 300px;
    border: 1px solid rgb(199, 199, 199);
    position:relative;
    float: left;
    float: right;
    margin-top: 150px;
    background-color: rgba(254, 254, 254, 0.86);
}
#satisfaction #graph #totalGraph{
    width: 38px;
    height: 150px;
    border: 1px solid #fff;
    position:absolute;
    bottom: 0;
    background-color: #fff;
}